
.el-checkbox__inner:hover,
.el-input .el-input__inner:focus,
.el-select .el-input__inner:focus,
.el-select .el-input.is-focus .el-input__inner {
  border-color: $color-primary;
}

.el-form-item.is-success .el-input__inner,
.el-form-item.is-success .el-input__inner:focus,
.el-form-item.is-success .el-textarea__inner,
.el-form-item.is-success .el-textarea__inner:focus {
  border-color: $color-secondary;
}

.el-select-dropdown__item.selected {
  color: $color-primary;
  font-weight: $fw-big-700;
}

.el-select-dropdown.is-multiple .el-select-dropdown__item.selected {
  color: $color-primary;
  background-color: $color-white;
}

.el-dialog__headerbtn .el-dialog__close {
  font-size: 22px;
  font-weight: $fw-big-700;
}

.el-tabs__item.is-active,
.el-tabs__item:hover,
.el-dialog__headerbtn .el-dialog__close:hover,
.el-tabs__active-bar {
  color: $color-primary !important;
}

.el-checkbox__input.is-checked + .el-checkbox__label {
  color: $color-black;
}

.el-form-item__content {
  line-height: 30px;
}

.el-checkbox__label {
  font-weight: $fw-small-400;
}

.el-checkbox__inner {
  border-color: #dcdfe6 !important;
}

.el-input--suffix .el-input__inner {
  padding-left: 35px !important;
}

.el-checkbox__input.is-checked .el-checkbox__inner {
  background-color: $color-primary;
  border-color: $color-primary !important;
}

.el-checkbox__input.is-focused .el-checkbox__inner{
  border-color: $color-primary !important;
}

.el-date-picker__header span:hover {
  color: $color-primary !important;
}

.el-year-table td a:hover {
  color: $color-primary !important;
}

.el-month-table td a:hover {
  color: $color-primary !important;
}

.el-date-table td.current:not(.disabled) span {
  color: $color-white;
  background-color: $color-primary;
}

.el-date-table td.today span,
.el-date-table td div:hover {
  color: $color-primary;
  font-weight: $fs-large-18;
}

.el-select .el-input__inner:focus,
.el-input--prefix .el-input__inner:focus {
  border-color: $color-primary;
}

.el-select .el-input.is-focus .el-input__inner {
  border-color: $color-primary;
}

.el-select-dropdown__item.selected {
  color: $color-primary;
  font-weight: bold;
}

.el-button {
  outline: 0 none;
  transition: all 0.15s ease-in-out;
  font-size: 16px;
  height: 40px;
}

.el-carousel__indicators--outside button {
  background-color: #1ab394;
  opacity: 0.24;
}

.el-carousel__item {
  padding: 10px !important;
}

.el-carousel__button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
